@-webkit-keyframes fading{
  0%    {opacity:1.0;}
  18%   {opacity:0.5;}
  40%   {opacity:0.9;}
  70%   {opacity:0.3;}
  100%  {opacity:1.0;}
}

@-o-keyframes fading{
  0%    {opacity:1.0;}
  18%   {opacity:0.5;}
  40%   {opacity:0.9;}
  70%   {opacity:0.3;}
  100%  {opacity:1.0;}
}

@keyframes fading{
  0%    {opacity:1.0;}
  18%   {opacity:0.5;}
  40%   {opacity:0.9;}
  70%   {opacity:0.3;}
  100%  {opacity:1.0;}
}



html{
  background-color: black;
  background-image: url(../Images/starryBasic.jpg);
  background-repeat: repeat;

/*  -webkit-animation-name: fading;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;

  -o-animation-name: fading;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;

  animation-name: fading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;*/


 }

 canvas{
  border: 1px white solid;
  text-align: center;
 }
